<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Neoflies - Email Confirmation</title>
</head>
<body>
  <h3>Neoflies - Email Confirmation</h3>
  <p>
    Dear <span th:text="${recipientName}"></span>,
  </p>
  <p>
    Thank you for joining us. Before you continue, please take a second to make sure we've got your email right.
  </p>
  <p>
    Follow the <a th:href="${confirmUrl}">link</a> to confirm your email
  </p>
  <p>
    Thanks & Best regards,
    <br />
    Neoflies
  </p>
</body>
</html>